<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/layout :: head-admin}">
        <title>Laboratorio Clinico Calderon Piedra</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <main id="main" class="main">
            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item active">Inventory</li>

                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section" th:fragment="main">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body">

                                <div class="datatable-controls">
                                    <button id="btnRegistro" class="btn-register" type="button"
                                            onclick="window.location.href = 'inventory-create.html'">
                                        Registro
                                    </button>
                                </div>
                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nombre</th>
                                            <th>Tipo/Categoría</th>
                                            <th>Unidad de medida</th>
                                            <th>Fecha de Vencimiento</th>
                                            <th>Stock minimo</th>
                                            <th>Stock actual</th>
                                            <th>Proveedor</th>
                                            <th>Estado</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="i : ${inventarios}">
                                            <td style="vertical-align: middle; text-align: center;">[[${i.codigo}]]</td>
                                            <td style="vertical-align: middle; text-align: center; "> [[${i.nombre}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${i.tipo}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${i.unidadMedida}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${i.fechaVencimiento}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${i.stockMinimo}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${i.stockActual}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${i.proveedor}}]</td>
                                             <td style="vertical-align: middle; text-align: center;">[[${i.activo}]]</td>
                                            <td class="actions-cell" style="vertical-align: middle; text-align: center;">
                                                <a href="inventory-edit.html" class="btn-edit" title="Editar">
                                                    <i class="bi bi-pencil"></i>
                                                </a>
                                            </td>

                                        </tr>

                                       
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </section>


        </main><!-- End #main -->

        <!-- Preloader -->
        <div th:replace="~{layout/layout :: jsfiles-admin}"></div>

    </body>
</html>
