<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="~{layout/layout :: head-admin}">
        <title>Laboratorio Clinico Calderon Piedra</title>
        <meta charset="UTF-8" />

    </head>
    <body class="index-page">
        <main>
            <div class="container">

                <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                                <div class="d-flex justify-content-center py-4">
                                    <a href="index.html" class="logo text-center">
                                        <div>
                                            <img src="assets/img/logo-1.png" alt="Logo Laboratorio" class="logo-img" />
                                        </div>
                                    </a>
                                </div> <!-- End Logo -->

                                <div class="card mb-3">

                                    <div class="card-body">

                                        <div class="pt-4 pb-2">
                                            <h5 class="card-title text-center pb-0 fs-4">Iniciar sesión en su cuenta</h5>
                                            <p class="text-center small">Introduzca su nombre de usuario y contraseña para iniciar sesión</p>
                                        </div>

                                        <form class="row g-3 needs-validation" th:action="@{/login}" method="POST">

                                            <div class="col-12">
                                                <label for="username" class="form-label">Nombre de Usuario</label>
                                                <div class="input-group has-validation">
                                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                    <input type="text" name="username" class="form-control" id="usuario" />
                                                        <div class="invalid-feedback">Por favor, introduzca su nombre de usuario.</div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label for="password" class="form-label">Contraseña</label>
                                                <input type="password" name="password" class="form-control" id="yourPassword" /> 
                                                    <div class="invalid-feedback">Por favor, introduzca su contraseña.</div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe" />
                                                        <label class="form-check-label" for="rememberMe">Recuérdame</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100" type="submit">Acceder</button>
                                            </div>

                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </section>

            </div>
        </main><!-- End #main -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


        <!-- Preloader -->
        <div id="preloader"></div>
        <div th:replace="~{layout/layout :: jsfiles-admin}"></div>
    </body>
</html>
