<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="~{layout/admin :: head}">
        <title>Laboratorio Clinico Calderon Piedra</title>
        <meta charset="UTF-8" />

    </head>
    <body>
        <!-- aside -->
        <aside th:replace="~{layout/admin :: aside}"></aside>
        <header th:replace="~{layout/admin :: header}"></header>
        <!-- Preloader -->
        <main th:replace="~{paciente/fragmentos :: form-paciente-edit}"></main>

        <div id="preloader"></div>
        <div th:replace="~{layout/admin :: jsfiles}"></div>
    </body>
</html>
