<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="~{layout/layout :: head-admin}">
        <title>Laboratorio Clinico Calderon Piedra</title>
        <meta charset="UTF-8" />

    </head>
    <body>
        <!-- aside -->
        <aside th:fragment="aside" id="sidebar" class="sidebar">

            <ul class="sidebar-nav" id="sidebar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="dashboard.html">
                        <i class="bi bi-grid"></i>
                        <span>Dashboard</span>
                    </a>
                </li><!-- End Dashboard Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Pacientes</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="patients-index.html">
                                <i class="bi bi-circle"></i><span>General</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Tables Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#test-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Pruebas</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="test-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="exams-index.html">
                                <i class="bi bi-circle"></i><span>General</span>
                            </a>
                        </li>
                        <li>
                            <a href="exams-results.html">
                                <i class="bi bi-circle"></i><span>Resultados</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Examenes Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#exams-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Exámenes</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="exams-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="patients-index.html">
                                <i class="bi bi-circle"></i><span>General</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Tables Nav -->
                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-layout-text-window-reverse"></i><span>Inventario</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="inventory-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="patients-index.html">
                                <i class="bi bi-circle"></i><span>General</span>
                            </a>
                        </li>
                    </ul>
                </li><!-- End Tables Nav -->

                <li class="nav-heading">Pages</li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-register.html">
                        <i class="bi bi-card-list"></i>
                        <span>Register</span>
                    </a>
                </li><!-- End Register Page Nav -->

                <li class="nav-item">
                    <a class="nav-link collapsed" href="pages-error-404.html">
                        <i class="bi bi-dash-circle"></i>
                        <span>Error 404</span>
                    </a>
                </li><!-- End Error 404 Page Nav -->

            </ul>

        </aside><!-- End Sidebar-->

        <!-- Preloader -->
      
        <div th:replace="~{layout/layout :: jsfiles-admin}"></div>
    </body>
</html>
