<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head  th:replace="~{layout/layout :: head-admin}">
        <title>Laboratorio Clinico Calderon Piedra</title>
        <meta charset="UTF-8" />

    </head>
    <body>
        <main th:fragment="main" id="main" class="main">

            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item">Pacientes</li>
                        <li class="breadcrumb-item active">Datos</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body">

                                <div class="datatable-controls">
                                   <a th:href="@{/usuario/agregar}"> Agregar</a>                    
                                </div>

                                <!-- Table with stripped rows -->
                                <table class="table datatable">
                                    <thead>
                                        <tr>
                                            <th>ID usuario</th>       
                                            <th>Nombre</th>  
                                            <th>Primer Apellido</th>            
                                            <th>Segundo Apellido</th>        
                                            <th>Usuario</th>
                                            <th>Contraseña</th>           
                                            <th>Activo</th>  
                                            <th>Fecha de creación</th>       
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="u : ${usuarios}">
                                            <td style="vertical-align: middle; text-align: center;">[[${u.idUsuario}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${u.nombre}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${u.primerApellido}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${u.segundoApellido}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${u.username}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${u.password}]]</td>
                                            <td style="vertical-align: middle; text-align: center;">[[${u.activo}]]</td>
                                             <td style="vertical-align: middle; text-align: center;">[[${u.fechaCreacion}]]</td>
                                            <td class="actions-cell" style="vertical-align: middle; text-align: center;">
                                                <a href="patients-edit.html" class="btn-edit" title="Editar">
                                                    <i class="bi bi-pencil"></i>
                                                </a>
                                            </td>

                                            <td class="actions-cell">
                                                <a href="patients-history.html" class="btn btn-history">Historial</a>
                                            </td>
                                        </tr>

                                        <!-- Agrega más filas según sea necesario -->
                                    </tbody>
                                </table>


                                <!-- End Table with stripped rows -->

                            </div>
                        </div>

                    </div>
                </div>
            </section>


        </main><!-- End #main -->

        <!-- Preloader -->

        <div th:replace="~{layout/layout :: jsfiles-admin}"></div>
    </body>
</html>
